<html>
    <head>

    </head>
    <body>
        <header>
            <h1>
            Employee Management System
        </h1>
        </header>
        <form action="/displayaddform">
            <button type="submit" id="btn" name="btn" value="btn">Add new Employee</button>
            <table border="2">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Employee Salary</th>
                        <th>Edit/Delete</th>
                    </tr>                   
                </thead>
                <tbody>
                    <%for(var i = 0; i<empdata.length;i++){%>
                        <tr>
                            <td>
                                <%=empdata[i].empid%>
                            </td>
                            <td>
                                <%=empdata[i].ename%>
                            </td>
                            <td>
                                <%=empdata[i].sal%>
                            </td>
                            <td>
                                <a href="/edit/<%=empdata[i].empid %>">edit</a>/
                                <a href="/delete/<%= empdata[i].empid %>">delete</a>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>

        </form>
    </body>
</html>